KEY_STORE_DIRECTORY=/keystore
DATA_DIRECTORY=/data
LOG_LEVEL={{ aztec_log_level }}
ETHEREUM_HOSTS={{ aztec_ethereum_hosts | mandatory | join(",") }}
L1_CONSENSUS_HOST_URLS={{ aztec_l1_consensus_host_urls | mandatory | join(",") }}
P2P_IP={{ aztec_libp2p_addr }}
P2P_PORT={{ aztec_libp2p_port }}
AZTEC_PORT={{ aztec_api_port }}
OTEL_EXPORTER_OTLP_METRICS_ENDPOINT=http://{{ aztec_exp_cont_name }}:{{ aztec_exp_cont_otlp_port }}/v1/metrics
