{
  "schemaVersion": 1,
  "validators": [
    {
      "attester": {
        "eth": "{{ aztec_attester_eth_private_key | mandatory }}",
        "bls": "{{ aztec_attester_bls_private_key | mandatory }}"
      },
      "feeRecipient": "{{ aztec_fee_recipient_address | mandatory }}"
    }
  ]
}
