{
  "schemaVersion": 1,
  "validators": [
    {
      "attester": ["{{ aztec_attester_private_key | mandatory }}"],
      "publisher": ["{{ aztec_publisher_private_key | mandatory }}"],
      "coinbase": "{{ aztec_coinbase_address | mandatory }}",
      "feeRecipient": "{{ aztec_fee_recipient_address | mandatory }}"
    }
  ]
}
