# vim: ft=yaml
receivers:
  otlp:
    protocols:
      http:
        endpoint: '0.0.0.0:{{ aztec_exp_cont_otlp_port }}'

exporters:
  prometheus:
    endpoint: '0.0.0.0:{{ aztec_exp_cont_metrics_port }}'
    metric_expiration: 5m

processors:
  batch:
  resource/label_cleanup:
    attributes:
      - action: delete
        key: 'service.instance.id'
      - action: delete
        key: 'service.name'

service:
  pipelines:
    metrics:
      receivers: ['otlp']
      processors: ['resource/label_cleanup', 'batch']
      exporters: ['prometheus']
